<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042663527400-ep2k5in0ulsq685o4j1qcj3g9uf13dpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042663527400-ep2k5in0ulsq685o4j1qcj3g9uf13dpt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1042663527400-avfg9n8d0ipv0r7n79q1gmprnk6886tn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKYBhDPZismpqguqlLlNWI9fSGuR9hTCY</string>
	<key>GCM_SENDER_ID</key>
	<string>1042663527400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.rowangray.clothingSwap</string>
	<key>PROJECT_ID</key>
	<string>newstyleswap</string>
	<key>STORAGE_BUCKET</key>
	<string>newstyleswap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042663527400:ios:3841dd03005b4b45a80a5d</string>
</dict>
</plist>